body {
	padding: 0;
	margin: 0;
	background: #231F20;
}

#container {
	position: fixed;
	width: 100%;
	height: 100%;
}

#canvas {
	background: #231F20;
	width: 100%;
	height: 100%;
}

#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 999999;
}
#progress-container {
    position: relative;
    width: 80px;
    height: 80px;
}
#progress {
	background: url('progress.gif') no-repeat center;
	position: absolute;
    top: 0; left: 0;
	width: 100%; height: 100%;
	filter: brightness(0.4) sepia(0) hue-rotate(0deg) saturate(4);
}
#progress-overlay {
	background: url('progress.gif') no-repeat center;
	position: absolute;
    top: 0; left: 0;
	width: 100%; height: 100%;
    z-index: 1;
    clip-path: inset(0% 0 0 0);
    transition: clip-path 0.1s ease-out;
}

#warning {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%);
	background: white;
	padding: 10px;
	display: none;
}
